:root{
    --primaryColor: #ff274b;
    --secondaryColor: #f7bcf7;
    --lightColor: #fff;
    --bgColor-1: #171a1c;
    --bgColor-2: #22282a;
    --padding: 8%;
}


h1 {
    color: var(--lightColor);
    font-size: 4.65rem;
    margin: 1.7;
}


h2 {
    font-size: 1.8rem;
    color: #fff;
    letter-spacing: 0.12rem;
    cursor: pointer;
}


h3 {
    color: var(--lightColor);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}


h4 {
    color: var(--lightColor);
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
}


h5 {
    color: #b19cb1;
    font-size: 1.37rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family:"Stack Sans Notch", sans-serif ;
    font-size: 14px;    
}


.home{
    width: 100%;
    height: 100vh;
    background-color: #171a1c;
    display: flex;
    flex-direction: column;
}


span{
    color: var(--primaryColor);
}


p {
    color:#b19cb1;
    letter-spacing: 1px;
    line-height: 1.8rem;
}


/*-------------------------------------------
*------------------------home section
---------------------------------------------*/


nav {
padding-top: 1.2rem;
padding-left: var(--padding);
padding-right: var(--padding);
display: flex;
justify-content: space-between;
align-items: center;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}


nav ul li a {
    color: var(--lightColor);
    text-decoration: none;
    transition: 0.4s;
}


nav ul li a:hover {
    color: var(--primaryColor);
}


.btn {
    background-color: var(--primaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;

}


.btn:hover {
    background-color: transparent;
    border: 2px solid var(--primaryColor);

}


.content {
    flex-grow: 4.5;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.container-text {
    position: relative;
    bottom: 0px;
}


.social {
    margin-top: 1.8rem;

}


.social img {
    margin-right: 1rem;
    width: 3.1rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}


.home .container-images {
    width:45%;
    height: 90%;
    position: relative;
    align-self: self-end;
}

.home .container-images img {
    position: absolute;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    transition: bottom 1s, left 1s;
    

}


.home .container-images:hover .class {
    bottom: 40px;
}


/*-------------------------------------------
*------------------------about section
---------------------------------------------*/


.about {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex ;
    align-items: center;
    justify-content: space-around;
}


.about .container-images {
    width: 35%;
}


.about .container-images img {
    width: 90%;
}


.about .container-text {
    width: 35%;
}




.Services {
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}


.text-container {
    text-align: center;
}


.box {
    display: flex;
    justify-content: space-between;

}


.card {
    width: 275px;
    background-color: var(--bgColor-2);
    border-radius: 75px;
    padding: 2.1rem 1rem;
    text-align: center;
}


.card i {
    font-size: 3.12rem;
    text-align: center;
    color: var(--primaryColor);
    margin: 2rem;
}


/*-------------------------------------------
*------------------------skills section
---------------------------------------------*/





.skills {
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.skills .container-images {
    width: 50%;

}


.skills .container-images img {
    width: 90%;

}


.skills.container-skills {
    width: 50%;

}


.container-skills {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem;
}


/*-------------------------------------------
*------------------------footer section
---------------------------------------------*/


footer {
    padding: 2 rem var(--padding);
    background-color: var(--bgColor-1);
}


footer .content-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


footer .content-footer p {
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}


footer .content-footer .end {
    color: var(--primaryColor);
    margin-top: 1rem;
}


/*-------------------------------------------
*------------------------media queries
---------------------------------------------*/


@media screen and (max-width:500px) {
    .left-side {
        flex-basis: 100%;
    }

    section {
        flex-basis: 100%;
    }

    .right-side {
        flex-basis: 100%;
    }
}


